#style.css
body { 
        background-color: rgb(243, 186, 196);
        }
        h1{
          color: #6e6667;
          font-size: 40px;
          width: 30%;
        }
        h2 {
          color: #6e6667;
          font-size: 40px;
            
          }
          h1,h2{
            padding: 12px;
            margin:  12px;
        }
        #style.css

header{
   background-color: #faF3D3D3;
   font-size: smaller;
   padding-left: 10%;
   margin-right: 20px;
}

