#style.css
body { 
        background-color: rgb(228, 158, 171);
        }
        h1{
          color: #6e6667;
          font-size: 40px;
          width: 30%;
        }
        h2 {
          color: #6e6667;
          font-size: 40px;
            
          }
          h1,h2{
            padding: 12px;
            margin:  12px;
        }
   header{
   background-color: #f51ead6c;
   font-size: smaller;
   padding-left: 10%;
   margin-right: 20px;
}
main{
  background-color: #f51ead6c;
  font-size: smaller;
  padding-left: 10%;
  margin-right: 10px;
}
footer{
  background-color: #f51ead6c;
   font-size: smaller;
   padding-left: 10%;
   margin-right: 20px;
}